@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,600&display=swap');

@font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
}
    

@font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold Italic'), url('../fonts/Acumin-BdItPro.woff') format('woff');
}

html, body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    color: #606060 !important;;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 100%;
}

h1{
    color: #001F4F !important;
    font-weight: 900 !important;
    font-family: 'Helvetica', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: #dee6f0;
    margin: 20px 0;
}

.separador-azul{
    width: 100%;
    height: 2px;
    background-color: #001F4F;
    margin: 20px 0;
}

ul {
    list-style: none;
  }
  
ul li::before {
    content: "\2022";
    color: #086BC8; 
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    font-size: 1.5rem;
}

b.darkBlueBold{
    color: #013F8C;
    font-size: 1.2rem;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.btn.btn-azul{
    background-color: #001F4F;
    color: #fff;
    font-style: italic;
    font-weight: 500;
    border-radius: 0;
    padding: 10px 60px;
}

/*Preguntas frecuentes*/

h1.preguntasFrecuentes__title{
    text-transform: uppercase;
}

.preguntasFrecuentes__acordeon.accordion-button{
    border: 0;
    color: #013F8C;
    font-weight: 700;
}

.preguntasFrecuentes__acordeon.accordion-button:focus, .preguntasFrecuentes__acordeon.accordion-button:active{
    outline: none !important;
    box-shadow: none;
}

.preguntasFrecuentes__acordeon.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 0.75rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/flecha.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;    
}

.preguntasFrecuentes__acordeon.accordion-button:not(.collapsed){
    background-color: transparent;
    border-bottom: 2px solid #086BC8;
}

.preguntasFrecuentes__acordeon.accordion-button.collapsed{
    border-bottom: 2px solid #086BC8;
}

.preguntasFrecuentes__acordeon.accordion-item{
    border: 0;
}

.preguntasFrecuentes__acordeon.accordion-body{
    font-size: 1rem;
    line-height: 2rem;
}

/* Campaña */

.campaign__bg{
    background-image: url('../images/campaign__bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.btn.campaign__botonVermas{
    color: #fff;
    font-style: italic;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 15px 30px;
}

/*Novedades*/

h1.novedades__title{
    color: #001F4F;
    font-family: 'Helvetica', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

h6.novedades__subtitle{
    color: #606060;
}

.novedades__item{
    margin-top: 3rem;
}

h2.novedades__itemTitle{
    color: #013F8C;
    font-weight: 700;
}

h6.novedades__itemFecha{
    text-align: right;
}

.novedades__sideBarRight{
    background-color: #429EC6;
    padding: 30px 0px;
}

img.novedades__sideBarRight-img{
    width: 100%;
    border-radius: 100%;
}

h2.novedades__sideBarRight-title{
    color: #001F4F;
    font-weight: 700;
    font-family: 'Helvetica', Arial, sans-serif;
    font-style: italic;
}

a.novedades__sideBarRightOtherNews-title{
    color: #013F8C;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

p.novedades__sideBarRightOtherNews-text{
    padding-top: 5px;
    color: #001F4F;
}

.novedades__paginador{
    margin: 30px 0;
}

.novedades__paginador > a{
    text-decoration: none;
    color: #001F4F;
    font-size: 1.2rem;
    font-weight: 700;
}

.novedades__paginador > a.novedades__paginador-flecha{
    text-decoration: none;
    color: #086BC2;
}

h2.novedadSingle__title{
    color: #001F4F;
    font-weight: 700;
    font-family: 'Helvetica', Arial, sans-serif;
    font-style: italic;
}

.novedadSingle__carrulesFotosItem{
    width: 95%;
    margin: 0 auto;
}

.carousel-control-next, .carousel-control-prev{
    width: 3%;
    color: #086BC2;
}

.novedadSigle__descargarImgs{
    padding-top:10px;
    text-align: right;
}

.novedadSigle__descargarImgs a{
    text-decoration: none;
    color: #013F8C;
}

.novedadSigle__moreNewsSection{
    background-color: #429ec7;
    padding-bottom: 100px;
}

h2.novedadSingle__moreNewsSection-itemTitle{
    color: #013F8C;
    font-weight: 700;
    min-height: 80px;
}

h5.novedadSingle__moreNewsSection-itemFecha{
    color: #001F4F;
    font-size: 0.9rem;
    margin-top: 5px;
}

p.novedadSingle__moreNewsSection-itemText{
    color: #001F4F;
    min-height: 100px;
}

/* Información comercial */

