@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap');

/* @font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
}
    

@font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold Italic'), url('../fonts/Acumin-BdItPro.woff') format('woff');
} */

/*Media Query*/

@media (min-width: 576px) { 

}

@media (min-width: 711px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1440px) { 

}

html, body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    color: #606060 !important;;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 100%;
}

h1{
    color: #001F4F;
    font-weight: 900 !important;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: #dee6f0;
    margin: 20px 0;
}

.separador-azul{
    width: 100%;
    height: 2px;
    background-color: #001F4F;
    margin: 20px 0;
}

ul {
    list-style: none;
  }
  
ul li::before {
    content: "\2022";
    color: #086BC8; 
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    font-size: 1.5rem;
}

b.darkBlueBold{
    color: #013F8C;
    font-size: 1.2rem;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.btn.btn-azul{
    background-color: #001F4F;
    color: #fff;
    font-style: italic;
    font-weight: 500;
    border-radius: 0;
    padding: 10px 60px;
}

.btn.btnBlanco{
    background-color: #fff;
    color: #001F4F;
    font-style: italic;
    font-weight: 500;
    border-radius: 0;
    padding: 10px 60px;
}


/*Preguntas frecuentes*/

h1.preguntasFrecuentes__title{
    text-transform: uppercase;
}

.preguntasFrecuentes__acordeon.accordion-button{
    border: 0;
    color: #013F8C;
    font-weight: 700;
}

.preguntasFrecuentes__acordeon.accordion-button:focus, .preguntasFrecuentes__acordeon.accordion-button:active{
    outline: none !important;
    box-shadow: none;
}

.preguntasFrecuentes__acordeon.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 0.75rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/flecha.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;    
}

.preguntasFrecuentes__acordeon.accordion-button:not(.collapsed){
    background-color: transparent;
    border-bottom: 2px solid #086BC8;
}

.preguntasFrecuentes__acordeon.accordion-button.collapsed{
    border-bottom: 2px solid #086BC8;
}

.preguntasFrecuentes__acordeon.accordion-item{
    border: 0;
}

.preguntasFrecuentes__acordeon.accordion-body{
    font-size: 1rem;
    line-height: 2rem;
}

/* Campaña */

.campaign__bg{
    background-image: url('../images/campaign__bg.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

@media (min-width: 1440px) { 
    .campaign__bg{
        background-position: 50% 50%;
    }
}

.campaign__title{
    width: 75%;
}

@media (min-width: 1200px) { 
    .campaign__title{
        width: 50%;
    }
}

@media (min-width: 1440px) { 
    .campaign__title{
        width: 33%;
    }
}

.btn.campaign__botonVermas{
    color: #fff;
    font-style: italic;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 15px 30px;
}

/*Novedades*/

h1.novedades__title{
    color: #001F4F;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

h6.novedades__subtitle{
    color: #606060;
}

.novedades__item{
    margin-top: 3rem;
}

h2.novedades__itemTitle{
    color: #013F8C;
    font-weight: 700;
}

h6.novedades__itemFecha{
    text-align: right;
}

.novedades__sideBarRight{
    background-color: #429EC6;
    padding: 30px 0px;
}

img.novedades__sideBarRight-img{
    width: 100%;
    border-radius: 100%;
}

h2.novedades__sideBarRight-title{
    color: #001F4F;
    font-weight: 700;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: italic;
}

a.novedades__sideBarRightOtherNews-title{
    color: #013F8C;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

p.novedades__sideBarRightOtherNews-text{
    padding-top: 5px;
    color: #001F4F;
}

.novedades__paginador{
    margin: 30px 0;
}

.novedades__paginador > a{
    text-decoration: none;
    color: #001F4F;
    font-size: 1.2rem;
    font-weight: 700;
}

.novedades__paginador > a.novedades__paginador-flecha{
    text-decoration: none;
    color: #086BC2;
}

h2.novedadSingle__title{
    color: #001F4F;
    font-weight: 700;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: italic;
}

.novedadSingle__carrulesFotosItem{
    width: 93%;
    margin: 0 auto;
}

.carousel-control-next, .carousel-control-prev{
    width: 12%;
    color: #086BC2;
}

@media (min-width: 992px) { 
    .carousel-control-next, .carousel-control-prev{
        width: 4%;
        color: #086BC2;
    }
}

.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-next:hover{
    color: #001F4F;
}

.carousel-control-prev-icon {
    background-image: url('../images/flecha_prev.svg');
    background-size: cover;
}

.carousel-control-next-icon {
    background-image: url('../images/flecha_next.svg');
    background-size: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem;
    height: 5rem;
}

.novedadSigle__descargarImgs{
    padding-top:10px;
    text-align: right;
}

.novedadSigle__descargarImgs a{
    text-decoration: none;
    color: #013F8C;
}

.novedadSigle__moreNewsSection{
    background-color: #429ec7;
    padding-bottom: 100px;
}

h2.novedadSingle__moreNewsSection-itemTitle{
    color: #013F8C;
    font-weight: 700;
    min-height: 80px;
}

h5.novedadSingle__moreNewsSection-itemFecha{
    color: #001F4F;
    font-size: 0.9rem;
    margin-top: 5px;
}

p.novedadSingle__moreNewsSection-itemText{
    color: #001F4F;
    min-height: 100px;
}

/* Información comercial */

h1.infoComercial__title{
    color: #001F4F;
    text-transform: uppercase; 
}

.infoComercial__bannerAll{
    height: 400px;
}

@media (min-width: 768px) { 
    .infoComercial__bannerAll{
        height: 500px;
    }
}

@media (min-width: 992px) { 
    .infoComercial__bannerAll{
        height: 700px;
    }
}

.infoComercial__banner1,
.infoComercial__banner2,
.infoComercial__banner3{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.infoComercial__banner1{
    background-image: url('../images/infoComercial__banner1-1.jpg');
}

.infoComercial__banner2{
    background-image: url('../images/infoComercial__banner2-1.jpg');
}

.infoComercial__banner3{
    background-image: url('../images/infoComercial__banner3-1.jpg');
}

h1.infoComercial__bannerTitle{
    color: #fff;
}

/* Modelos */

.modelos__cta{
    background-image: url('../images/modelos/modelos__cta-bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2.modelos__cta-title{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

@media (min-width: 576px) { 
    h2.modelos__cta-title{
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
}

.modelos__cta-botonBlanco{
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    background-color: #fff;
    border-radius: 60px;
    color: #001F4F;
    font-weight: 900;
    font-size: 1rem;
    padding: 15px 20px;
    transition: 0.3s;
}

@media (min-width: 576px) { 
    .modelos__cta-botonBlanco{        
        font-size: 1.5rem;
        padding: 17px 50px;
    }
}

.modelos__cta-botonBlanco:hover{
    color: #001F4F;
    background-color: #80b2ff;
}

h3.modelos__list-title{
    color: #001F4F;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
}

img.modelos__list-flecha{
    width: 30px;
}

.modelos__item{
    padding: 40px 0px;
    border-bottom: 1px solid #90919e;
}

.modelos__item-title{
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 576px) { 
    .modelos__item-title{
        text-align: left;
        margin-bottom: 0;
    }
}

img.modelos__img-title{
    width: 100%;
    max-width: 227px
}

img.modelos__img-auto{
    width: 75%;
}

@media (min-width: 576px) { 
    img.modelos__img-auto{
        width: 100%;
    }
}

.modelos__item-cta{
    text-align: center;
    margin-top: 40px;
}

@media (min-width: 576px) { 
    .modelos__item-cta{
        text-align: right;
        margin-top: 0;
    }
}

.modelos__cta-botonAzul{
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    background-color: #001F4F;
    border-radius: 60px;
    color: #fff;
    font-style: italic;
    font-weight: 900;
    font-size: 1rem;
    padding: 17px 50px;
    transition: 0.3s;
}

.modelos__cta-botonAzul:hover{
    box-shadow: 1px 1px 3px #606060;
    color: #fff;
}

/* Circulares */

h1.circualres__title{
    color: #001F4F;
    text-transform: uppercase; 
}

.circualres__container{
    background-image: url('../images/circular__bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.table.circualres__tabla >:not(:first-child){
    border-top: 2px solid transparent;
}

.circualres__tabla > thead > tr > th{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 6px;
    vertical-align: middle;
}

@media (min-width: 768px) { 
    .circualres__tabla > thead > tr > th{
        font-size: 2rem;
        padding: 30px 0px;
    }
}

.circualres__tabla > thead > tr > th:first-child{
    border-radius: 8px 0px 0px 0px;
}

.circualres__tabla > thead > tr > th:last-child{
    border-radius: 0px 8px 0px 0px;
}

.circualres__tabla > thead > tr > th.circualres__tabla-thDarkBlue{
    background-color: #01204f;
    color: #fff;
}

.circualres__tabla > thead > tr > th.circualres__tabla-thBlue{
    background-color: #0167b9;
    color: #fff;
}

.circualres__tabla.table-striped > tbody > tr:nth-of-type(odd)>* {
    background-color: #fff;
    --bs-table-accent-bg: #fff; 
    color: #606060;
}

.circualres__tabla > tbody > tr > td{
    text-align: center;
    padding: 1rem .5rem;
}

a.contenidos__download{
    background-image: url('../images/download.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    text-decoration: none;
    color: #606060;
    padding-right: 45px;
}

a.contenidos__download:hover{
    color: #606060;
}

.table.circualres__tabla > :not(caption)>*>*{
    background-color: #e6e9f0;
    color: #606060;
    border-bottom-width: 0px;
}

/* Espacio SY */

h2.espacioSY__title-tiel{
    color: #217ab5;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

p.espacioSY__parrafo-1{
    color: #03173f;
}

.espacioSY__separador{
    height: 1px;
    width: 100%;
    background-color: #848593;
    margin: 20px 0;
}

h2.espacioSY__title-darkBlue{
    color: #03173f;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

ul.espacioSY__lista {
    list-style: none;
    padding: 0;
}

ul.espacioSY__lista > li {
    padding-left: 1.3em;
    color: #001f4e;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.espacioSY__lista > li:before {
    content: url('../images/check.svg');
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    margin-right: 0.5rem;
    font-size: .8rem;
}

.espacioSY__seccion-2{
    background-image: url('../images/espacioSY__bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

h2.espacioSY__title-blanco{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
}

h5.espacioSY__subtitle{
    color: #217ab5;
    font-size: 1rem;
}

p.espacioSY__parrafo-2{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2rem;
}

span.espacioSY__guionRojo{
    color: #d54022;
}

/* Sitio en construccion */

.enConstruccion__bg-1{
    background-image: url('../images/enConstruccion__bg-1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}

h2.enConstruccion__title-1{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

@media (min-width: 768px) { 
    h2.enConstruccion__title-1{
        font-size: 5.5rem;
    }
}

h5.enConstruccion__subtitle-1{
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

@media (min-width: 768px) { 
    h5.enConstruccion__subtitle-1{
        font-size: 1.5rem;
    }
}

.enConstruccion__bg-2{
    background-image: url('../images/enConstruccion__bg-2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}

.enConstruccion__bg-3{
    background-image: url('../images/enConstruccion__bg-3.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}

img.enConstruccion__elemento-1{
    width: 100%;
}

@media (min-width: 768px) { 
    img.enConstruccion__elemento-1{
        width: 50%;
    }
}